@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$blue: #2E82FF;
$radius: 10px;
$padding: 16px;
$box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $blue;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 40%;
  min-height: 450px;
  background-color: white;
  text-align: center;
  margin: 128px auto;
  border-radius: $radius;
  padding-bottom: 32px;
  box-shadow: $box-shadow;
}

.completed {
    text-decoration: line-through;
    opacity: 0.4;
    display: flex;
    justify-content: end;
}

h1 {
  margin: 20px 0;
  font-size: 35px;
  font-family: 'Kanit', sans-serif;
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}

.todo-form {
    margin-bottom: $padding;
    font-family: 'Kanit', sans-serif;
}  

.todo-input {
    padding: 11px 32px 14px 16px;
    border-radius: 10px 0 0 10px;
    border: 2px solid $blue;
    outline: none;
    width: 463px;
    box-shadow: $box-shadow;
}

  
.todo-button {
    padding: $padding;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    background-color: $blue;
    color: white;
    text-transform: capitalize;
    font-family: 'Kanit', sans-serif;
    font-size: 11px;
    margin: 2px;
    box-shadow: $box-shadow;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.todo-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: $blue;
    margin: 18px auto;
    padding: $padding;
    border-radius: $radius;
    width: 89%; 
    box-shadow: $box-shadow;
    border: 1px solid $blue;

    input {
        margin-right: 10px;
    }
}